@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color : #fff;
}

body{
  background-color:#111;
}


/* /components/other/EmployeeDashboardTaskList  Style*/
#EmployeeDashboardTaskList::-webkit-scrollbar{
  display: none;
}
/* /components/other/EmployeeDashboardTaskList End*/



#AdminDashboardAllTask::-webkit-scrollbar{
display: none;
}